#playlist {
    /* position: fixed; 
     top: 80px;
    left: 10px; 
    right: 2em; */
    width: 15%;
    height: 200px;
}

#play_caption{
    position: fixed;
    bottom: 0px;
    right: 2em;
    width: 15%;
    height: 100px;
    font-size: 13px;
    line-height: 150%;
    text-align: left;
    font-family: 'Gowun Dodum', sans-serif;
}
@font-face {
    font-family: 'Hankc';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/hani/Hankc/Hankc.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/hani/Hankc/Hankc.woff') format('woff');
  }
  
  .hankc * {
   font-family: 'Hankc', serif;
  }