body{
    /* font-family: 'Gowun Dodum', sans-serif; */
    font-family: 'Brygada 1918', serif;
    line-height: 200%;
    font-size: 20px;

    animation: color 10s infinite linear;
    background-color: rgb(126, 199, 218);
    background-repeat: no-repeat;
    background-attachment: fixed; /* Make the background image fixed */
    background-position: center top; /* Set the background position to center top */
    height: 200vh;
    text-align: left;

}

img{
    width: 60%;
    height: auto;
    text-align: center;
    
}

figure{
    font-size: 70%;
    text-align: left;
    margin-left: 15em;
}

p{
    width: 71%;
    margin-left: 3em;
    margin-right: 3em;
    /* padding-left: 20em;
    padding-right: 20em; */

}

.container {
    display: flex;
    flex-wrap: wrap;
}
  
 
  
.quote{
    width: 60%;
    text-align : left;
    font-style: italic;
    font-size: 90%;
    padding-left: 4em;
    padding-right: 4em;
    
}

.title{
    font-family: 'Merriweather', serif;
    width: 70%;
    /* margin: 15em; */
    margin-left: 3em
}

#playlist {
    position: fixed;
    bottom: 80px;
    right: 2em;
    width: 15%;
    height: 200px;
}

#play_caption{
    position: fixed;
    bottom: 0px;
    right: 2em;
    width: 15%;
    height: 100px;
    font-size: 13px;
    line-height: 150%;
    text-align: left;
    font-family: 'Gowun Dodum', sans-serif;
}
